<footer id="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-links">
        <div>
          <img src="/Logo tienda.png" />
        </div>
      </div>
      <div class="footer-links">
        <h4>CATEGORIAS</h4>
        <ul>
          <li><a href="#">Hombre</a></li>
          <li><a href="#">Mujer</a></li>
          <li><a href="#">Infantil</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>INFORMACION</h4>
        <ul>
          <li><a href="#">Nuestra Historia</a></li>
          <li><a href="#">Nuestras Tiendas</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>SERVICIO AL CLIENTE</h4>
        <ul>
          <li><a href="#">Politicas</a></li>
          <li><a href="#">Preguntas Frecuentes</a></li>
          <li><a href="#">Terminos y Condiciones</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <h4>INSCRIBASE PARA RECIBIR NOVEDADES</h4>
        <textarea rows="" cols="" class="textoins"></textarea>
        <div class="social-links">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
