<header>
  <div class="nav-bar">
    <img src="/Logo tienda.png" alt="Logo" class="logo" />
    <div class="buttons">
      <button class="icon-button" routerLink="">Inicio</button>
      <button class="icon-button" routerLink="{{'/products'}}">Productos</button>
      <button class="icon-button">Categorias</button>
      <button class="icon-button">Ofertas</button>
    </div>
    <div class="icons">
     
      <a routerLink="register">Registrate</a>
   
      <button class="icon-buttonR" aria-label="Favoritos">
        <i class="fas fa-heart"></i>
      </button>
      <button class="icon-buttonR" aria-label="Carrito">
        <i class="fas fa-shopping-cart"></i>
      </button>
      <button class="icon-buttonR" aria-label="Perfil de usuario" routerLink="login">
        <i class="fas fa-user"></i>
      </button>
    </div>
  </div>
</header>
