<div class="contenedor">
  <header class="header">
    <h1 class="titulo">Dejanos ser parte de tu estilo</h1>
    <br />
    <br />
    <img class="image" src="/raya.png" width="1000" height="15" alt="" />
    <br />
    <br />
    <img class="imagen" src="/mujer1.png" width="237" height="215" alt="" />
    <img
      class="imagen"
      src="/hombrebasket.png"
      width="237"
      height="215"
      alt=""
    />
    <img class="imagen" src="/infantil.png" width="237" height="215" alt="" />
    <img
      class="imagen"
      src="/hombresport.png"
      width="237"
      height="215"
      alt=""
    />
  </header>
  <h2 class="titulo">Elige lo que deseas</h2>
  <br />
  <img class="image" src="/raya2.png" width="420" height="15" alt="" />
  <div class="grid-container">
    <div class="item">
      <img class="mexicana" src="/hombrecatalogo.png" alt="pizza peperoni" />
      <h2 class="titulo1">Hombre</h2>
      <p class="texto">
        Más allá del diseño o las tendencias la ropa que utilizamos para
        activarnos fisicamente debe adaptarse al tipo de ejercicio
      </p>
      <br />
      <button class="btnsucess">Catalogo Hombres</button>
    </div>
    <div class="item">
      <img class="mexicana" src="/mujercatalogo.png" alt="pizza-salami" />
      <h2 class="titulo1">Mujer</h2>
      <p class="texto">
        Más allá del diseño o las tendencias la ropa que utilizamos para
        activarnos fisicamente debe adaptarse al tipo de ejercicio
      </p>
      <br />
      <button class="btnsucess">Catalogo mujeres</button>
    </div>
    <div class="item">
      <img class="mexicana" src="/infantilcatalogo.png" alt="pizza-hawallana" />
      <h2 class="titulo1">Infantil</h2>
      <p class="texto">
        Más allá del diseño o las tendencias la ropa que utilizamos para
        activarnos fisicamente debe adaptarse al tipo de ejercicio
      </p>
      <br />
      <button class="btnsucess">Catalogo Infantil</button>
    </div>
  </div>
</div>
