<article class="productCard">
  @if(product?.images?.length !== 0){<img class="img" [src]="product?.images?.[0]" alt="" />}
  <h2>{{ product?.name }}</h2>
  <p>{{ product?.brand }}</p>
  <h3>{{ product?.price | currency }}</h3>
  <div>
    <ul>
      <li>
        <button><img src="HeartBlue.png" alt="" /></button>
      </li>
      <li>
        <button (click)="handlerAddCart(product)"><img src="ShopCartBlue.svg" alt="" /></button>
      </li>
    </ul>
    <button routerLink="{{ '/detail/' + product?._id }}">Ver Mas</button>
  </div>
</article>
